@import './../../sassStyles/variables';
@import './../../sassStyles/typography';
@import './../../sassStyles/global';
.input-style {
  background-color: $white-1;
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  align-items: center;
  input {
    width: 60%;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $gray-2;
      font-size: $medium-font;
    }
  }
  button {
    @extend%btn;
  }
}
.message {
  text-align: justify;
  word-wrap: break-word;
  background-color: $white-1;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  max-width: 20rem;
  margin: 0.75rem 0;

  &-send {
    align-self: flex-end;
    background-color: $green-1;
    .angle {
      position: absolute;
      top: 15%;
      right: -8px;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent $green-1;
    }
  }
  &-receive {
    align-self: flex-start;
    background-color: $white-1;
    .angle {
      position: absolute;
      bottom: 15%;
      left: -8px;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent $white-1 transparent transparent;
    }
  }
}
.chat-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  &-message {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.send-box {
  position: sticky;
  bottom: 0.75rem;
  margin: 0.75rem 0;
  display: flex;
  width: 100%;
  &-input {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white-1;
    border-radius: 12px;
  }
  &-button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(153, 148, 148, 0.19);
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 0.6rem;
    background-color: $white-1;
    border-radius: 50px;
    width: 3.1rem;
    height: 3.1rem;
    button {
      @extend%btn;
      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
  align-items: center;
}
.message-reply {
  display: flex;
  font-size: $smallest-font;
  &-horizontal {
    margin-right: 10px;
    height: 32px;
    width: 2px;
    background-color: $green-2;
    display: inline-block;
  }
  &-box {
    display: flex;
    flex-direction: column;

    &-phone {
      font-weight: bold;
      font-size: $small-font;
      color: $green-2;
    }
  }
}
.container-text-button {
  @extend%btn;
  position: absolute;
  right: 0;
  top: 0;
}
.reply-box-text-message {
  height: 100%;
  display: flex;
  align-items: end;
  margin-right: 10px;
}

.time-section {
  color: $gray-3;
  font-size: xx-small;
  font-weight: bold;
  margin: 0.5rem 0 0 0.25rem;
}
.reply-receive {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .message {
    max-width: 10rem;
  }
}
