@import "./../../sassStyles/variables";
@import "./../../sassStyles/typography";
@import "./../../sassStyles/global";
.input-style{
    background-color: $white-1;
        width:100%;
        height:51px;
        display: flex;
        justify-content: space-around;
        border:2px solid black;
        border-radius: 12px;
        align-items: center;
        input{
           width: 60%;
           border:none;
           &:focus{outline:none};
           &::placeholder {
               color: $gray-2;
        font-size:$medium-font;
        };
        
    }
    button {
@extend%btn
    }

}
.message{
    background-color: $white-1;
    padding: 10px;
    border-radius: 20%;
    background-color: $white-1;

}
.chat-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}