@import './../../sassStyles/variables';
@import './../../sassStyles/typography';
@import './../../sassStyles/global';
.menu {
  left: 0;
  max-width: 18rem;
  border-right: 1px solid $gray-2;
  background-color: $white-1;
  &-header {
    border-bottom: 1px solid $gray-3;
    height: 100px;
  }
}
.menu-item {
  padding-right: 1rem;
  cursor: pointer;
  display: flex;
  height: 72px;
  align-items: center;
  .profile {
    width: 55px;
    height: 54px;
    border-radius: 100%;
    margin: 0 15px;
  }
  .profile-info {
    flex-grow: 2;
    &-identity {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .last-message {
    display: flex;

    &-text {
      max-width: 9rem;
      color: $gray-3;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
    }
    &-time {
      color: $gray-3;
      font-size: xx-small;
      font-weight: bold;
    }
    // &-count {
    //   border-radius: 100%;
    //   color: white;
    //   background-color: $gray-2;
    //   padding: 4px;
    //   font-weight: bold;
    // }
  }
}

.search-box {
  background-color: $white-1;
  width: 60%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  border-radius: 22px;
  align-items: center;
  border: 1px solid $gray-3;
  input {
    width: 60%;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $gray-2;
      font-size: $medium-font;
    }
  }

  button {
    @extend%btn;
  }
}
.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .contact-list {
    @extend%btn;
    border-radius: 20px !important;
    height: 45px;
    border: $gray-3 1px solid;
  }
}

@media (max-width: 1000px) {
  .menu-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-list {
    margin: 5px 0;
  }
}
