@import './../sassStyles/variables';
@import './../sassStyles/typography';
@import './../sassStyles/global';
.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.chat-section {
  grid-area: chat;
}
.container {
  height: 100%;
  overflow: auto;
  background-color: #c2eaba;
  background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);
  display: grid;
  grid-template:
    'menu header header header ' 55px
    'menu .  chat  .  ' 480px
    'menu . chat .  ' auto/
    1.25fr 0.75fr 3fr 1fr;
}
.scroll-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(153, 148, 148, 0.19);
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: $white-1;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  min-width: 3.1rem;
  height: 3rem;
  position: fixed;
  bottom: 18%;
  right: 17.5%;
  button {
    @extend%btn;
    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

@media (max-width: 500px) {
  .scroll-button {
    right: 3.5%;
  }

  .chat-section {
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .chat-section {
    padding: 0 1rem;
  }
}
