.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.chat-section {
  grid-area: chat;
}
.container {
  height: 100%;
  overflow: auto;
  background-color: #c2eaba;
  background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);
  display: grid;
  grid-template:
    'menu header header header ' 55px
    'menu .  chat  .  ' 480px
    'menu . chat .  ' auto/
    1.25fr 0.75fr 3fr 1fr;
}
@media (max-width: 500px) {
  .menu {
    height: 100%;
  }
  .container {
    display: block;
  }
  .chat-section {
    padding: 0 1rem;
  }
}
