@import "../../sassStyles/variables";
.header{
    background-color: $white-1;
}
.profile{
    width:41px;
    height: 41px;
    border-radius: 100%;
    margin: 0 15px
}
.header-profile {
    cursor:pointer;
    display: flex;
    align-items: center;
    height: 56px;
    .info{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        h3{margin:0};
    }
    span{
        color:$gray-3
    }

}