@import "./variables";

%btn{
    background: none;
color: inherit;
border: none;
// padding:2px 4px;
font: inherit;
cursor: pointer;
outline: inherit;
border-radius: 100%;
&:hover {
    background-color: $gray-1;
}
}