@import './variables';

%btn {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 100%;
  &:hover {
    background-color: $gray-1;
  }
  &:active {
    background-color: $gray-1;
  }
  &:focus {
    background-color: $gray-1;
  }
}
