@import "./../../sassStyles/variables";
@import "./../../sassStyles/global";
@import "./../../sassStyles/typography";

.contact-menu{
 width: 350px;
     overflow: auto;
      height: 500px;

 border-radius: 5px;
}
.contact-header{
    width:100%;
    background-color: white;
    position:sticky ;
    top:0;
 z-index: 5;
 border-bottom: 1px black solid;
    align-items: center;
    height: 56px;
    display: flex;
    button{
@extend%btn;
    }
    &-title{
        font-size:$large-font;
        font-weight:500 ;
        text-align: center;
 flex-grow: 2
    }
}




.single-contact {
    cursor: pointer;
    display: flex;
    height: 72px;
    align-items: center;

    .profile {
        width: 55px;
        height: 54px;
        border-radius: 100%;
        margin: 0 15px
    }

    .profile-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        h3 {
            margin: 0
        }

        ;
    }

    .single-contact-phone {
        display: flex;


        &-text {
            color: $gray-3
        }

        
    }
}




.ProfileContact{
    &-main{
        display: flex;
        align-items: center;
        margin:20px;
    };
    &-box{
display: flex;
flex-direction: column;
margin-left: 30px;
align-items: flex-start;
    }
    &-text{
        font-size: $large-font;
        
    }
    &-caption{
        color:$gray-3
    }
}
.profileImage{
img {
    width: 100%;
    height: 420px;
}
position: relative;
&-caption{
    position: absolute;
    bottom: 5%;
    left:5%;
    color: $white-1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-name{
        font-size: $large-font;
        font-weight: bold;
    }
}
}