@import './../../sassStyles/variables';
@import './../../sassStyles/global';
@import './../../sassStyles/typography';

.contact-menu {
  width: 22rem;
  overflow: auto;
  height: 30rem;
  border-radius: 5px;
}
.contact-header {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 0.12rem $gray-2 solid;
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  button {
    @extend%btn;
  }
  &-title {
    margin-left: 1rem;
    font-size: $large-font;
    font-weight: 500;
    text-align: center;
  }
}
.single-contact {
  cursor: pointer;
  display: flex;
  height: 72px;
  align-items: center;
  margin-top: 12px;
  &:hover {
    background-color: $gray-2;
  }

  .profile {
    width: 55px;
    height: 54px;
    border-radius: 100%;
    margin-left: 1rem;
  }
  .profile-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin: 0;
    }
  }
  .single-contact-phone {
    display: flex;

    &-text {
      color: $gray-3;
    }
  }
}
